/* styles.css */
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background-color: white; /* Add a white background to the label */
    padding: 0 5px; /* Adjust padding for better appearance */
}

.input-field {
    padding: 10px;
    font-size: 16px;
    outline: none;
    background: transparent;
    border: 2px solid rgba(188, 211, 212, 0.5); /* Set the default border color to blue */
    transition: border-color 0.3s ease-in-out;
  border-radius: 10px;
}

/* Create a pseudo-element to simulate the border */
.input-field::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ccc;
    transition: background-color 0.3s ease-in-out;
}

.input-field:focus + .input-label {
    top: -5px;
    font-size: 12px;
    color: #0078d4;
}

.input-field:focus {
    border-color: #0058a3; /* Change the border color to deep blue when focused */
}

/* Add this to your styles.css */
.input-label.label-up {
  top: -5px;
  font-size: 12px;
  color: #0078d4;
}

/* Existing CSS */

/* Dark mode styles */
body.dark-mode {
    background-color: #222;
    color: #FFF;
  }
  
  .input-container.dark-mode {
    color: #FFF;
  }
  
  .input-label.dark-mode {
    color: #FFF;
    background-color: #222;
  }
  
  .input-field.dark-mode {
    color: #FFF;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  
  .input-field.dark-mode:focus {
    border-color: #ddd;
  }
  
  .input-field.dark-mode:focus + .input-label {
    color: #ddd;
  }
  
/* Toggle button styles */
.toggle-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .toggle-button i {
    margin-right: 8px;
  }
  
  .toggle-button:hover {
    background-color: #0058a3;
  }
  
  /* Dark mode button */
  .toggle-button.dark-mode {
    background-color: #222;
    color: #FFF;
  }
  
  .toggle-button.dark-mode i {
    color: #FFF;
  }